:root {
    --coloreBordo: rgb(65, 63, 63);
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

    overflow: hidden;
}

#griglia {
    height: 800px;
    width: 800px;
    background-color: rgb(151, 145, 145);
    display: grid;
}

[data-stato="coperta"] {
    border: 4px solid rgb(192, 192, 192);
    border-bottom: 5px solid var(--coloreBordo);
    border-right: 5px solid var(--coloreBordo);
}

[data-stato="scoperta"] {
    border: 1px solid var(--coloreBordo);
}

.casella {
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    font-size: 2em;
}

#schermata {
    display: none;

    background-color: rgba(10, 9, 9, .8);

    top: 15vh;
    left: 20vw;

    height: 70vh;
    width: 60vw;

    position: absolute;

    justify-content: right;
    align-items: end;

    border-radius: 30px;

    padding: 20px;
    box-shadow: 15px 0px 10px rgba(0, 0, 0, .9);
}

button.retry {
    width: 200px;
    height: 120px;

    position: absolute;
    bottom: calc(30% - 120px/2);
    left: calc(50% - 200px/2);

    background-color: rgb(0, 0, 0);

    border: 1px solid black;
    border-radius: 100px;

    font-size: 3rem;

    color: white;
}

button.switch {
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
    background-image: url(svg/Mine.svg);
}

.mina {
    background-image: url(svg/Mine.svg);
}

.bandiera {
    background-image: url(svg/bandiera.svg);
}

.numBand {
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    left: 30px;
    top: 10px;
    text-align: center;
    font-family: Serif;
    font-size: 1.7em;
}

.erroreMina {
    background-color: red;
}

.erroreBandiera {
    background-color: orange;
}

#schermata>.content {
    display: flex;
    flex-direction: column;

    justify-content: center;
    align-items: center;

    position: relative;

    width: 100%;
    height: 400px;
    margin-bottom: auto;
}

.content>p {
    font-size: 5em;
    font-family: arial;
    color: red;
}

.content .numMineRim {
    position: relative;
    margin-top: 30px;
    font-size: 2em;
    color: white;
    text-align: center;
}

#setting {
    position: absolute;
    bottom: 20px;
    right: 20px;
    height: 50px;
    width: 50px;
    background-image: url(svg/setting.svg);
}

#setting[data-stato='false']+.container {
    display: none;
}

#setting[data-stato='true']+.container {
    position: absolute;

    display: flex;
    flex-direction: column;

    height: 70vh;
    width: 50vw;

    background-color: rgb(10, 9, 9);
    border-radius: 50px;

    top: 15vh;
    left: 25vw;

    z-index: 15;

    justify-content: center;
    align-items: center;
}

.container>.item {
    display: flex;
    flex-direction: column;

    height: 60%;
    width: 70%;

    margin: 25px;

    justify-content: space-evenly;
    align-items: center;
}

.container>.item>p {
    color: white;

    font-size: 3rem;
    font-family: Arial, Helvetica, sans-serif;
}

button.difficolta {
    height: 50px;
    width: 200px;

    border: 1px solid black;
    border-radius: 25px;

    background-color: black;
    color: white;

    font-size: 2rem;
}

button.difficolta.selezionato {
    background-color: white;
    color: black;
}

button#close {
    background-image: url(svg/close_button.svg);

    height: 50px;
    width: 50px;

    border-radius: 100%;
    border: transparent;

    position: absolute;
    top: 30px;
    right: 30px;
}

button.reset {
    position: absolute;
    top: 10px;
    height: 50px;
    width: 50px;
    background-image: url(svg/reset_button.svg);
    background-color: transparent;
    border-radius: 100%;
}

@media screen and (width: 1080px) {
    #setting[data-stato='true']+.container {
        height: 2510px;
        width: 700px;
        transform: translate(0, 110px);
    }

    button.difficolta {
        transform: scale(2);
    }

    .container>.item {
        transform: scale(2);
        height: 400px;
    }

    .container>.item>p {
        font-size: 2rem;
        text-align: center;
    }

    button#close {
        transform: scale(2.5) translate(0, 10px);
    }
}