* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background-color: gray;
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}

#griglia {
    height: 800px;
    width: 800px;
    background-color: gray;
    display: grid;
}

.scoperta {
    background-color: black;
}

.casella {
    color: green;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    border: 1px solid black;
}

.schermata {
    display: none;
    background-color: blue;
    top: 0;
    left: 0;
    height: 100%;
    width: 400px;
    position: absolute;
    justify-content: right;
    align-items: end;
    padding: 20px;
}

button.retry {
    width: 90px;
    height: 40px;
    background-color: gray;

}

button.switch{
    height: 50px;
    width: 50px;
    position: absolute;
    top: 10px;
    right: 30px;
    background-color: blue;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2em;
}

.mina {
    background-color: red;
}

.bandiera{
    background-color: green;
}

.numBand{
    width: 50px;
    height: 30px;
    background-color: black;
    color: white;
    position: absolute;
    left: 30px;
    top: 10px;
    text-align: center;
    font-family: Serif;
    font-size: 1.7em;
}

.erroreMina{
    background-color: rgb(179, 121, 13);
}

.erroreBandeira{
    background-color: yellow;
}